a, a:hover {
    text-decoration: none;
    color: #333;
}

.transitioned {
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.time-slot {
    padding: 10px 0;
    position: relative;
}

.lock-time-slot {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    opacity: .2;
}

    .lock-time-slot:hover, .lock-time-slot.locked {
        opacity: 1;
    }

.clickable {
    cursor: pointer;
}

.home-link {
    height: 200px;
    border-radius: 5px;
    margin: 10px 0;
    padding-top: 10px;
    text-align: center;
}

    .home-link:hover {
        background-color: ghostwhite;
    }

.month {
    font-size: x-large;
}

.dayOfMonth {
    font-size: 75px;
}

.dayOfWeek {
    font-size: 30px;
}

.today {
    background-color: lavender;
}

.week {
    background-color: lavenderblush;
    font-size: 50px;
    vertical-align: middle;
    padding-top: 50px;
}

.home-contacts {
    background-color: lemonchiffon;
    font-size: 50px;
    padding-top: 30px;
}

.home {
    margin-top: 15%;
}

.relative {
    position: relative;
}

.big-input {
    height: 55px;
    font-size: 25px;
    outline: none;
    box-shadow: none !important;
}

    .big-input:focus {
        border-color: #ccc;
    }

    .big-input.btn {
        width: 200px;
    }

.found-contacts {
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    position: absolute;
    width: 100%;
}

.found-contact {
    padding: 5px 10px;
    position: relative;
    font-size: 17px;
    border-radius: 2px;
}

    .found-contact.active {
        background-color: blanchedalmond;
    }

.contact-buttons {
    padding: 10px 0;
}

.notification-right {
    position: absolute;
    right: -50px;
    top: 5px;
    font-size: 35px;
    color: green;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}
